<!DOCTYPE HTML>
<html>

<head>
  <title>mTree Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.23/dist/turbo.es2017-umd.min.js"></script>
  <script>Turbo.connectStreamSource(new WebSocket(`ws://127.0.0.1:8000/admin/turbo-stream`));</script>
  <script>            var ws = new WebSocket(`ws://127.0.0.1:8000/admin/experiment_ws`);
    ws.onmessage = function (event) {
      var messages = document.getElementById('messages')
      var message = document.createElement('li')
      var content = document.createTextNode(event.data)
      message.appendChild(content)
      messages.appendChild(message)
    };</script>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/docs/5.3/examples/dashboard/dashboard.css" rel="stylesheet">
</head>

<body>

  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">mTree Admin</a>
    <ul class="navbar-nav flex-row d-md-none">

    </ul>
    <div id="navbarSearch" class="navbar-search w-100 collapse"> <input class="form-control w-100 rounded-0 border-0"
        type="text" placeholder="Search" aria-label="Search"> </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
          aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5> <button type="button" class="btn-close"
              data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              
            </ul>
          </div>
        </div>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h3 class="page-header">Experiment Dashboard</h3>
        <div class="row">
          <div class="col">
            <h3>Subjects</h3>
            
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Subject ID</th>
                  <th scope="col">Status</th>
                  <th scope="col">Last Active</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for subject_id in manager._subject_list %}
                <tr id="subject-row-{{subject_id}}">
                  <th scope="row">{{ subject_id }}</th>
                  <td>Unknown</td>
                  <td></td>
                  <td></td>
                </tr>  

                  {% endfor %}
                
              </tbody>
            </table>

          </div>
          <div class="col">
            <h3>Experiment Controls</h3>
          </div>
      </div>

        <!-- TODO(@messiest) have this populate with the session name -->
        <div class="row placeholders">
          <turbo-stream action="append" target="messages">
            <template>
              <div id="message_1">My new message!</div>
            </template>
          </turbo-stream>
        </div>


      </main>
    </div>
  </div>

</body>

</html>